/* Custom Styles for Landing Page */
/* body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.display-4 {
  color: #343a40;
}

.lead {
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.ratio {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
  background-color: #fde0fc;
}

.btn-gradient {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  padding: 12px 24px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: scale(1.05);
}

.video-container {
  max-width: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.video-container iframe {
  width: 100%;
  height: 350px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}